$main-color: #00252e;
$secondary-color: #ff52bf;

$hover: #ff8fd8;
$box-shadow: #00000080;
$warning: #ff4242;

$bg-section: #f5faff;

$body-font: 'Open Sans', sans-serif;
$title-font: 'Poppins', sans-serif;