.footer
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: $main-color;
  color: $bg-section;

  div
  {
    width: 300px;
  }
}

.newsletter
{

  &__title,
  &__text
  {
    margin: 0;
    margin-bottom: 20px;
  }

  &__form
  {
    .input
    {
      margin-bottom: 20px;
      padding: 10px;
      width: 100%;
    }

    .input:invalid::placeholder
    {
      color: $warning;
      outline-color: $warning;
    }
    .input:focus,
    .input:invalid
    {
      outline: 2px solid;
      outline-offset: 5px;
      outline-color: #333;
    }
    .input:focus::placeholder
    {
      color: $secondary-color;
    }
    .input:focus
    {
      outline-color: $secondary-color;
    }
  }

  .button
  {
    border: none;
    margin-left: auto;
    transition: .2s background-color;
  }
}

.address
{
  &__logo
  {
    filter: hue-rotate(100deg) saturate(0) brightness(100);
    width: 200px;
  }
  &__text
  {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  &__item
  {
    display: grid;
    grid-template-columns: 40px 1fr;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .social
  {
    display: flex;
    align-content: flex-start;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;

    &__icon
    {
      transition: .2s color;
    }
    &__icon:hover
    {
      color: royalblue;
    }
  }
}

@media screen and (min-width: 860px)
{
  .footer div:nth-child(1)
  {
    order: 2;
  }
  .footer div:nth-child(2)
  {
    order: 1;
  }
}