.landing,
.stats-container
{
  padding-left: 30px;
  padding-right: 30px;
}

.landing
{
  text-align: center;
}

.landing__title
{
  margin: 20px 0;
}
.landing__text
{
  margin: 40px auto;
  max-width: 100%;
  width: 500px;
  line-height: 24px;
}

.landing .button
{
  margin: 50px auto;
}
.landing__img
{
  margin: 50px auto;
  width: 500px;
}

.stats-container
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0;
  gap: 50px;
  
  text-align: center;
}

.stat
{
  position: relative;
  width: max-content;
  padding-top: 35px;
  width: 200px;

  &__icon
  {
    position: absolute;
    top: 5px;
    left: 5px;

    height: 25px;
  }

  &__text
  {
    *
    {
      display: block;
    }
  
    .number
    {
      font-weight: 700;
      font-size: 50px;
    }
  }
}

.expo
{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.expo--even
{
  background-color: $bg-section;
}

.bg-top,
.bg-top
{
  position: relative;
  bottom: -5px;
}

.bg-bottom,
.bg-bottom
{
  position: relative;
  top: -5px;
}

.bg-section,
.bg-section img
{
  z-index: -1;
  width: 100%;
}

.expo__text .title
{
  font-weight: 700;
}

.expo__text
{
  text-align: center;
  line-height: 24px;
}
.expo__text,
.expo__illustration
{
  padding: 20px;
  max-width: 100%;
  width: 400px;
}

.get-start
{
  margin: 50px 0;
  min-height: 30vh;
  height: max-content;
}

.get-start__title
{
  text-align: center;
  margin: 30px 0;
}

.get-start .button
{
  margin: 40px auto;
}

@media screen and (min-width: 860px)
{
  .expo__text
  {
    text-align: left;
  }
  .expo--even
  {
    .expo__illustration
    {
      order: 2;
    }
  }
}